@mixin display-flex() {
  display: -ms-flexbox;   /* TWEENER - IE 10 */
  display: -webkit-flex;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;          /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin flex($size) {
  -webkit-flex: $size;    /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: $size;        /* IE 10 */
  flex: $size;            /* NEW, Spec - Firefox, Chrome, Opera */
}
