.highlight  {
  font-family: $monospace;
  background: $inline-bg;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  word-wrap: break-word;
  line-height: 1.5;
}

.highlight .ge {} /* Generic.Emph */
.highlight .gs {} /* Generic.Strong */
.highlight .gp { color: $syntax-forest-green } /* Generic.Prompt */
.highlight .gi { color: $syntax-light-brown } /* Generic.Inserted */
.highlight .gd { color: $syntax-dark-blue } /* Generic.Deleted */
.highlight .gu { color: $syntax-brown } /* Generic.Subheading */
.highlight .gh { color: $syntax-gray } /* Generic.Heading */

.highlight .w { color: $syntax-gray } /* Text.Whitespace */
.highlight .p { color: $syntax-gray } /* Punctuation */

.highlight .c { color: $syntax-forest-green } /* Comment */
.highlight .cm { color: $syntax-forest-green } /* Comment.Multiline */
.highlight .cp { color: $syntax-forest-green } /* Comment.Preproc */
.highlight .c1 { color: $syntax-forest-green } /* Comment.Single */
.highlight .cs { color: $syntax-forest-green } /* Comment.Special */

.highlight .sd { color: $syntax-forest-green } /* Literal.String.Doc */
.highlight .ld { color: $syntax-light-brown } /* Literal.Date */
.highlight .s { color: $syntax-light-brown } /* Literal.String */

.highlight .err { color: $syntax-dark-blue } /* Error */

.highlight .ne { color: $syntax-dark-blue } /* Name.Exception */
.highlight .no { color: $syntax-dark-blue } /* Name.Constant */
.highlight .nv { color: $syntax-dark-blue } /* Name.Variable */
.highlight .vc { color: $syntax-dark-blue } /* Name.Variable.Class */
.highlight .vg { color: $syntax-dark-blue } /* Name.Variable.Global */
.highlight .vi { color: $syntax-dark-blue } /* Name.Variable.Instance */
.highlight .nd { color: $syntax-brown } /* Name.Decorator */
.highlight .nt { color: $syntax-brown } /* Name.Tag */
.highlight .nc { color: $syntax-red } /* Name.Class */
.highlight .nn { color: $syntax-red } /* Name.Namespace */
.highlight .na { color: $syntax-brown } /* Name.Attribute */
.highlight .nf { color: $syntax-brown } /* Name.Function */
.highlight .nx { color: $syntax-brown } /* Name.Other */
.highlight .nl { color: $syntax-gray } /* Name.Label */
.highlight .nb { color: $syntax-gray } /* Name.Builtin */
.highlight .ni { color: $syntax-gray } /* Name.Entity */
.highlight .py { color: $syntax-gray } /* Name.Property */
.highlight .bp { color: $syntax-gray } /* Name.Builtin.Pseudo */
.highlight .n { color: $syntax-gray } /* Name */

.highlight .k { color: $syntax-green } /* Keyword */
.highlight .kc { color: $syntax-green } /* Keyword.Constant */
.highlight .kd { color: $syntax-green } /* Keyword.Declaration */
.highlight .kr { color: $syntax-green } /* Keyword.Reserved */
.highlight .kn { color: $syntax-brown } /* Keyword.Namespace */
.highlight .kt { color: $syntax-red } /* Keyword.Type */

.highlight .o { color: $syntax-brown } /* Operator */
.highlight .ow { color: $syntax-brown } /* Operator.Word */

.highlight .mf { color: $syntax-dark-green } /* Literal.Number.Float */
.highlight .mh { color: $syntax-dark-green } /* Literal.Number.Hex */
.highlight .mi { color: $syntax-dark-green } /* Literal.Number.Integer */
.highlight .mo { color: $syntax-dark-green } /* Literal.Number.Oct */
.highlight .se { color: $syntax-dark-green } /* Literal.String.Escape */
.highlight .si { color: $syntax-dark-green } /* Literal.String.Interpol */
.highlight .il { color: $syntax-dark-green } /* Literal.Number.Integer.Long */
.highlight .l { color: $syntax-dark-green } /* Literal */
.highlight .m { color: $syntax-dark-green } /* Literal.Number */
.highlight .sb { color: $syntax-dark-green } /* Literal.String.Backtick */
.highlight .s2 { color: $syntax-dark-green } /* Literal.String.Double */
.highlight .sh { color: $syntax-dark-green } /* Literal.String.Hesyntax-redoc */
.highlight .sx { color: $syntax-dark-green } /* Literal.String.Other */
.highlight .sr { color: $syntax-dark-green } /* Literal.String.Regex */
.highlight .s1 { color: $syntax-dark-green } /* Literal.String.Single */
.highlight .ss { color: $syntax-dark-green } /* Literal.String.Symbol */
.highlight .sc { color: $syntax-gray } /* Literal.String.Char */
