$serif: "Georgia", "Times New Roman", serif;
$sans-serif: -apple-system, "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
$monospace: "Inconsolata", "Menlo", monospace;

$main-bg: #FFF;
$main-fg: #666;
$inline-bg: #F9FAFA;
