$serif: "Georgia", "Times New Roman", serif;
$sans-serif: -apple-system, "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
$monospace: "Inconsolata", "Menlo", monospace;

$main-bg: #FFF;
$main-fg: #666;
$inline-bg: #F9FAFA;

$light-blue: #08c;
$blue: darken($light-blue, 10%);
$dark-blue: darken($blue, 10%);

/* Color for syntax highlight */
$syntax-forest-green: #22624B;
$syntax-light-brown: #9E6F38;
$syntax-dark-blue: #26435F;
$syntax-green: #4F6F46;
$syntax-brown: #926B33;
$syntax-red: #8C313B;
$syntax-dark-green: #445E50;
$syntax-gray: #666;
