---
---

@import "variables";
@import "syntax";

body {
  background: $main-bg;
  color: $main-fg;
  font-family: $serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, time, header, article {
  font-family: $sans-serif;
}

p, ul, ol {
  line-height: 1.8;
}

main {
  display: flex;
  flex-flow: row wrap;

  max-width: 42rem;
  margin: 1rem auto;
}

header {
  display: flex;
  justify-content: flex-end;
  flex: 1 100%;

  h1 {
    flex: 2;
    font-size: 1.5rem;
    font-weight: normal;
  }

  nav {
    display: flex;
    flex: 1;
    justify-content: space-between;

    flex-direction: row;
    align-self: center;
  }
}

section {
  flex: 1 100%;
  margin-top: 2rem;
}

article {
  display: flex;
  max-height: 5.5vh;

  h1 {
    font-size: 1rem;
    font-weight: normal;
    color: #0277BD;
    flex: 3;
    align-self: center;
  }

  time {
    align-self: center;
  }
}

time {
  color: #999;
}

a {
  color: $light-blue;
  text-decoration: none;
  transition: .4s;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }

  &:active {
    color: $dark-blue;
  }
}

pre {
  font-size: 1rem;
}

code {
  font-family: $monospace;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

kbd {
  font-family: $sans-serif;
  font-size: 0.8rem;
  line-height: 1.8;
  white-space: nowrap;
  padding: 0.1rem 0.6rem;
  margin: 0 0.1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.2), 0 0 0 0.2rem #fff inset;
}

blockquote {
  background: #fffaf0;
  margin: 1rem 0;
  font-style: italic;
  padding: 2rem;

  em:before {
    content: "\2014";
  }

  em {
    font-family: $sans-serif;
    font-style: normal;

    padding-top: 1rem;
    display: block;
  }
}

/* Smaller screens */
@media only screen and (max-width: 960px) {
  header { display: inline; }
  header h1 { flex: 1 100%; }
  header nav { flex: 1 100%; }
}
