---
---

@import "reset";

$serif: "Georgia", "Times New Roman", serif;
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
$main-bg: #FFF;
$main-fg: #666;
$inline-bg: #F9FAFA;

@mixin display-flex() {
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin flex($size) {
  -webkit-flex: $size;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: $size;           /* IE 10 */
  flex: $size;               /* NEW, Spec - Firefox, Chrome, Opera */
}

body {
  background: $main-bg;
  color: $main-fg;
  font-family: $serif;
}

header, time, h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
}

p {
  line-height: 1.8;
  margin: auto auto 1rem auto;
}

a {
  color: #08c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

time {
  display: inline-block;
  margin-bottom: 2rem;
  color: #999;
}

main {
  max-width: 42rem;
  margin: 1rem auto;
  padding: 1rem;
}

section {
  margin-top: 5rem;

  h1 {
  font-size: 1.5rem;
  margin: 1rem auto;
  }
}

article {
  @include display-flex();
  width: 100%;

  h1 {
    font-size: 1rem;
    margin: 0.5rem auto;
    @include flex(2);
    color: #0277BD;
  }

  time {
    @include flex(1);
    align-self: center;
    margin: 0;

    text-align: right;
  }
}

header {
  @include display-flex();
  padding-bottom: 1rem;

  h1 {
    @include flex(1);
    font-size: 1.5rem;
    font-weight: 200;
  }

  nav {
    @include flex(1);
    align-self: center;
    text-align: right;

    a {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}


ul {
  margin: 1rem;
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul, ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol, ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

li {
  line-height: 1.8;
  display: list-item;
}

blockquote {
  background: $inline-bg;
  padding: 2rem;
  font-style: italic;

  em:before {
    content: "\2014";
  }

  em {
    font-family: $sans-serif;
    font-style: normal;
    padding-top: 1rem;
    display: block;
  }
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: "Inconsolata", "Menlo", monospace;
  background-color: $inline-bg;
}

pre {
  margin: 1rem auto;
}

/* Priting code prettier, modified Sunburst theme by David Leibovic */

  .str { color: #22624B; }  /* string content */
  .kwd { color: #8C313B; }  /* a keyword */
  .com { color: #666; }  /* a comment */
  .typ { color: #926B33; }  /* a type name */
  .lit { color: #4F6F46; }  /* a literal value */
  .pln { color: #26435F; }
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #9E6F38; }
  .tag { color: #26435F; }  /* a markup tag name */
  .atn { color: #926B33; }  /* a markup attribute name */
  .atv { color: #22624B; }  /* a markup attribute value */
  .dec, .var { color: #606; }  /* a declaration; a variable name */
  .fun { color: #445E50; }  /* a function name */

pre.prettyprint, code.prettyprint {
  font-family: "Inconsolata", "Menlo", monospace;
  background: $inline-bg;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #CCC; } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { }

pre.prettyprint {
    padding: 0.5em;
    white-space: pre-wrap;
    line-height: 1.5;
}

@media print {
  .str { color: #22624B; }  /* string content */
  .kwd { color: #8C313B; }  /* a keyword */
  .com { color: #666; }  /* a comment */
  .typ { color: #926B33; }  /* a type name */
  .lit { color: #4F6F46; }  /* a literal value */
  .pln { color: #26435F; }
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #9E6F38; }
  .tag { color: #26435F; }  /* a markup tag name */
  .atn { color: #926B33; }  /* a markup attribute name */
  .atv { color: #22624B; }  /* a markup attribute value */
  .dec, .var { color: #606; }  /* a declaration; a variable name */
  .fun { color: #445E50; }  /* a function name */
}
