body {
  background: #fff;
  color: #333;
  font: 1.1rem/1.8 -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light",
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

a {
  color: #333;
  transition: 0.4s;
  -webkit-backface-visibility: hidden;
}

a:hover {
  color: #1d1d1f;
}

code {
  font-family: "JetBrains Mono", "Menlo", monospace;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: table-cell;
}

kbd {
  font: 0.9rem -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light",
    "Helvetica Neue", Arial, sans-serif;
  white-space: nowrap;
  padding: 0.1rem 0.6rem;
  margin: 0 0.1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #fff inset;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

blockquote {
  background: #fbfbfb;
  font-style: italic;
  margin: 1.5rem auto;
  padding: 0.25rem 1rem;
}

blockquote em:before {
  content: "\2014";
}

blockquote em {
  display: block;
  font-style: normal;
  text-align: right;
}

main {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 0;
}

header {
  display: flex;
  justify-content: flex-end;
  flex: 1 100%;
  align-items: baseline;
}

header h1 {
  flex: 1.85;
  font-size: 1.1rem;
  font-weight: 600;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
}

header nav a,
article a {
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

section {
  flex: 1 100%;
  margin-top: 1rem;
}

section h1 {
  font-size: 1.825rem;
  margin: 0.33rem auto;
}

article {
  display: flex;
  max-height: 2.5rem;
  min-height: 2.5rem;
}

article h1 {
  font-size: 1.1rem;
  font-weight: normal;
  flex: 3;
  align-self: center;
  width: 1rem;
  margin-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article time {
  align-self: center;
}

.me {
  background: repeat -3vw 2vh/12vw auto url(/images/me.gif);
  border-image: url(/images/me-border.gif) 5% 5% repeat;
  border-style: solid;
  border-width: 0.8rem 0 0 0.8rem;
  min-height: 23vh;
  margin: auto auto;
  display: block;
}

.me:hover {
  background: repeat -3vw 2vh/12vw auto url(/images/me-loop.gif);
  border-image: url(/images/me-border-loop.gif) 5% 5% repeat;
}

.highlight {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "JetBrains Mono", "Menlo", monospace;
  background: #fbfbfb;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  margin: 1rem auto;
  max-width: 42rem;
  line-height: 1.5;
}

pre {
  white-space: pre-wrap;
}

div.highlight {
  border: 1px solid #efefef;
  border-radius: 2px;
}

.highlight,
.highlight .o,
.highlight .ow,
.highlight .p,
.highlight .pi,
.highlight .w {
  color: #282828;
}

.highlight .err,
.highlight .gd,
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv,
.highlight .nt {
  color: #9d0006;
}

.highlight .c,
.highlight .c1,
.highlight .cd,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .cs {
  color: #928374;
}

.highlight .cp,
.highlight .nc,
.highlight .nn {
  color: #427b58;
}

.highlight .gh,
.highlight .gi,
.highlight .na,
.highlight .s1,
.highlight .si,
.highlight .sr {
  color: #79740e;
}

.highlight .il,
.highlight .kc,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .mx,
.highlight .no {
  color: #8f3f71;
}

.highlight .kt {
  color: #b57614;
}

.highlight .dl,
.highlight .kd,
.highlight .s,
.highlight .s2,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .sx {
  color: #af3a03;
}

.highlight .ss {
  color: #076678;
}

/* Smaller screens */
@media only screen and (max-width: 960px) {
  header {
    display: inline;
  }

  main {
    padding: 0.5rem;
    display: block;
  }
}
