body {
  background: #FFF;
  color: #5F5F5F;
  font: 1.1rem -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p, ul, ol {
  line-height: 1.8;
}

a {
  color: #5F5F5F;
  transition: .4s;
}

a:hover {
  color: #2E2E2E;
}

code {
  font-family: "Fira Mono", "Menlo", monospace;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: table-cell;
}

kbd {
  font: 0.9rem -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.8;
  white-space: nowrap;
  padding: 0.1rem 0.6rem;
  margin: 0 0.1rem;
  border: 1px solid #CCC;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.2), 0 0 0 0.2rem #FFF inset;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

blockquote {
  background: #FBFBFB;
  font-style: italic;
  line-height: 1.8;
  margin: 1.5rem auto;
  padding: 0.25rem 1rem;
}

blockquote em:before {
  content: "\2014";
}

blockquote em {
  display: block;
  font-style: normal;
  text-align: right;
}

main {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 0;
}

header {
  display: flex;
  justify-content: flex-end;
  flex: 1 100%;
}

header h1 {
  flex: 1.85;
  font-size: 1.6rem;
  font-weight: normal;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  align-self: center;
}

header nav a, article a {
  text-decoration: none;
}

section {
  flex: 1 100%;
  margin-top: 2rem;
}

article {
  display: flex;
  max-height: 2.5rem;
}

article h1 {
  font-size: 1.1rem;
  font-weight: normal;
  flex: 3;
  align-self: center;
  width: 1rem;
  margin-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article time {
  align-self: center;
}

.me {
  background: repeat -3vw 2vh/12vw auto url(/images/me.gif);
  border-image: url(/images/me-border.gif) 5% 5% repeat;
  border-style: solid;
  border-width: 0.8rem 0 0 0.8rem;
  min-height: 23vh;
  margin: auto auto;
  display: block;
}

.me:hover {
  background: repeat -3vw 2vh/12vw auto url(/images/me-loop.gif);
  border-image: url(/images/me-border-loop.gif) 5% 5% repeat;
}

.highlight  {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Fira Mono", "Menlo", monospace;
  background: #FBFBFB;
  box-sizing: border-box;
  padding: .25rem .5rem;
  margin: 1rem auto;
  max-width: 42rem;
  line-height: 1.5;
}

pre {
  white-space: pre-wrap;
}

.highlight .ge {} /* Generic.Emph */
.highlight .gs {} /* Generic.Strong */
.highlight .gp { color: #22624B } /* Generic.Prompt */

.highlight .c, /* Comment */
.highlight .cm, /* Comment.Multiline */
.highlight .cp, /* Comment.Preproc */
.highlight .c1, /* Comment.Single */
.highlight .cs, /* Comment.Special */
.highlight .sd { /* Literal.String.Doc */
  color: #22624B
}

.highlight .gi, /* Generic.Inserted */
.highlight .ld, /* Literal.Date */
.highlight .s { /* Literal.String */
  color: #9E6F38
}

.highlight .gd, /* Generic.Deleted */
.highlight .err, /* Error */
.highlight .ne, /* Name.Exception */
.highlight .no, /* Name.Constant */
.highlight .nv, /* Name.Variable */
.highlight .vc, /* Name.Variable.Class */
.highlight .vg { /* Name.Variable.Global */
  color: #26435F
}

.highlight .gh, /* Generic.Heading */
.highlight .w, /* Text.Whitespace */
.highlight .p, /* Punctuation */
.highlight .nl, /* Name.Label */
.highlight .nb, /* Name.Builtin */
.highlight .ni, /* Name.Entity */
.highlight .py, /* Name.Property */
.highlight .bp, /* Name.Builtin.Pseudo */
.highlight .n, /* Name */
.highlight .sc { /* Literal.String.Char */
  color: #5F5F5F
}

.highlight .gu, /* Generic.Subheading */
.highlight .nd, /* Name.Decorator */
.highlight .nt, /* Name.Tag */
.highlight .na, /* Name.Attribute */
.highlight .nf, /* Name.Function */
.highlight .nx, /* Name.Other */
.highlight .kn, /* Keyword.Namespace */
.highlight .o, /* Operator */
.highlight .ow { /* Operator.Word */
  color: #926B33
}

.highlight .nc, /* Name.Class */
.highlight .kt, /* Keyword.Type */
.highlight .nn { /* Name.Namespace */
  color: #8C313B
}

.highlight .k, /* Keyword */
.highlight .kc, /* Keyword.Constant */
.highlight .kd, /* Keyword.Declaration */
.highlight .kr { /* Keyword.Reserved */
  color: #4F6F46
}

.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .mo, /* Literal.Number.Oct */
.highlight .se, /* Literal.String.Escape */
.highlight .si, /* Literal.String.Interpol */
.highlight .il, /* Literal.Number.Integer.Long */
.highlight .l, /* Literal */
.highlight .m, /* Literal.Number */
.highlight .sb, /* Literal.String.Backtick */
.highlight .s2, /* Literal.String.Double */
.highlight .sh, /* Literal.String.Hesyntax-redoc */
.highlight .sx, /* Literal.String.Other */
.highlight .sr, /* Literal.String.Regex */
.highlight .s1, /* Literal.String.Single */
.highlight .ss { /* Literal.String.Symbol */
  color: #445E50
}

/* Smaller screens */
@media only screen and (max-width: 960px) {
  header { display: inline; }
  main { padding: 0.5rem; display: block; }
}
