:root {
  --background: #f5f5f5;
  --black: #1d1d1f;
  --dark-gray: #333;
  --gray: #86868b;
  --light-gray: #ccc;
  --offwhite: #fbfbfb;
  --white: #fff;
  --font-default: -apple-system, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
  --font-mono: "JetBrains Mono", "Menlo", monospace;
  --base03: #73777f;
  --base07: #181c22;
  --base08: #d02023;
  --base09: #bf3e05;
  --base0A: #9d6f00;
  --base0B: #637200;
  --base0C: #007a72;
  --base0D: #0073b5;
  --base0E: #4e66b6;
}

body {
  background: var(--background);
  color: var(--dark-gray);
  font: 1.1rem/1.8 var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

a {
  color: var(--dark-gray);
  transition: 0.2s;
  -webkit-backface-visibility: hidden;
}

a:hover {
  color: var(--black);
}

code {
  font-family: var(--font-mono);
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: table-cell;
}

kbd {
  font: 0.9rem var(--font-default);
  background: var(--offwhite);
  white-space: nowrap;
  padding: 0.1rem 0.6rem;
  margin: 0 0.1rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--white) inset;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

blockquote {
  background: var(--offwhite);
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
  font-style: italic;
  margin: 1.5rem auto;
  padding: 0.25rem 1rem;
}

blockquote em:before {
  content: "\2014";
}

blockquote em {
  display: block;
  font-style: normal;
  text-align: right;
}

main {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 0;
}

header {
  display: flex;
  justify-content: flex-end;
  flex: 1 100%;
  align-items: baseline;
  margin: 0.5rem auto 1rem auto;
}

header h1 {
  flex: 1.85;
  font-size: 1.1rem;
  font-weight: 500;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
}

header nav a,
article a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

header nav a {
  color: var(--gray);
}

header nav a:hover,
header nav a.active {
  color: var(--black);
}

section {
  flex: 1 100%;
  margin-top: 1rem;
}

section h1 {
  font-size: 1.825rem;
  margin: 0.33rem auto;
}

article {
  display: flex;
  max-height: 2.5rem;
  min-height: 2.5rem;
}

article h1 {
  font-size: 1.1rem;
  font-weight: normal;
  flex: 3;
  align-self: center;
  width: 1rem;
  margin-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article time {
  align-self: center;
}

section > time {
  color: var(--gray);
}

.me {
  background: repeat -3vw 2vh/12vw auto url(/images/me.gif);
  border-image: url(/images/me-border.gif) 5% 5% repeat;
  border-style: solid;
  border-width: 0.8rem 0 0 0.8rem;
  min-height: 23vh;
  margin: auto auto;
  display: block;
}

.me:hover {
  background: repeat -3vw 2vh/12vw auto url(/images/me-loop.gif);
  border-image: url(/images/me-border-loop.gif) 5% 5% repeat;
}

.highlight {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: var(--font-mono);
  font-size: 1rem;
  background: var(--offwhite);
  box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 1rem auto;
  max-width: 42rem;
  line-height: 1.5;
}

pre {
  white-space: pre-wrap;
}

div.highlight {
  border: 2px solid transparent;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.highlight .c,  /* Comment */
.highlight .cm, /* Comment.Multiline */
.highlight .cp, /* Comment.Preproc */
.highlight .c1, /* Comment.Single */
.highlight .cs, /* Comment.Special */
.highlight .gp, /* Generic.Prompt */
.highlight .sd /* Literal.String.Doc */
  { color: var(--base03) }

.highlight .n, /* Name */
.highlight .p, /* Punctuation */
.highlight .gh, /* Generic.Heading */
.highlight .nb, /* Name.Builtin */
.highlight .ni, /* Name.Entity */
.highlight .nl, /* Name.Label */
.highlight .py, /* Name.Property */
.highlight .w, /* Text.Whitespace */
.highlight .sc, /* Literal.String.Char */
.highlight .bp /* Name.Builtin.Pseudo */
  { color: var(--base07) }

.highlight .err, /* Error */
.highlight .gd, /* Generic.Deleted */
.highlight .no, /* Name.Constant */
.highlight .ne, /* Name.Exception */
.highlight .nv, /* Name.Variable */
.highlight .vc, /* Name.Variable.Class */
.highlight .vg, /* Name.Variable.Global */
.highlight .vi /* Name.Variable.Instance */
  { color: var(--base08) }

.highlight .l, /* Literal */
.highlight .m, /* Literal.Number */
.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .mo, /* Literal.Number.Oct */
.highlight .se, /* Literal.String.Escape */
.highlight .si, /* Literal.String.Interpol */
.highlight .il /* Literal.Number.Integer.Long */
  { color: var(--base09) }

.highlight .kt, /* Keyword.Type */
.highlight .nc, /* Name.Class */
.highlight .nn /* Name.Namespace */
  { color: var(--base0A) }

.highlight .gi, /* Generic.Inserted */
.highlight .ld, /* Literal.Date */
.highlight .s, /* Literal.String */
.highlight .sb, /* Literal.String.Backtick */
.highlight .s2, /* Literal.String.Double */
.highlight .sh, /* Literal.String.Heredoc */
.highlight .sx, /* Literal.String.Other */
.highlight .sr, /* Literal.String.Regex */
.highlight .s1, /* Literal.String.Single */
.highlight .ss /* Literal.String.Symbol */
  { color: var(--base0B) }

.highlight .o, /* Operator */
.highlight .gu, /* Generic.Subheading */
.highlight .kn, /* Keyword.Namespace */
.highlight .nd, /* Name.Decorator */
.highlight .nt, /* Name.Tag */
.highlight .ow /* Operator.Word */
  { color: var(--base0C) }

.highlight .na, /* Name.Attribute */
.highlight .nf, /* Name.Function */
.highlight .nx /* Name.Other */
  { color: var(--base0D) }

.highlight .k, /* Keyword */
.highlight .kc, /* Keyword.Constant */
.highlight .kd, /* Keyword.Declaration */
.highlight .kp, /* Keyword.Pseudo */
.highlight .kr /* Keyword.Reserved */
  { color: var(--base0E) }

.highlight .ge {} /* Generic.Emph */
.highlight .gs {} /* Generic.Strong */

/* Smaller screens */
@media only screen and (max-width: 960px) {
  header {
    text-align: center;
    display: inline;
  }

  main {
    padding: 0.5rem;
    display: block;
  }
}
