<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>{{ site.name }}</title>
  <meta name="description" content="Gazing at Darwin is the personal blog of Mathias Jean Johansen.">
	<link rel="shortcut icon" href="http://mjj.io/blog/favicon.ico">
  <link rel="stylesheet" href="http://blog.mjj.io/stylesheet.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.mjj.io/feed.xml">
	<script type="text/javascript" src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body onload="prettyPrint()">

	<div class="container">
    <h1><a href="/">{{ site.name }}</a></h1>
    <ul class="posts">
      {% for post in site.posts %}
      <li class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <h3 class="date">{{ post.date | date: "%b %-d, %Y" }}</h3>
        {{ post.content }}
			</li>
      {% endfor %}
    </ul>
	</div>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-35562833-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
