<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="Mathias Jean Johansen is a software engineer from Copenhagen, Denmark.">
  <link rel="canonical" href="{{ site.url }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
</head>
<body>
  <main>
    <header>
      <h1>{{ site.name }}</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="https://twitter.com/majjoha">Twitter</a>
        <a href="https://github.com/majjoha">GitHub</a>
      </nav>
    </header>
    <section>
      {{ content }}
    </section>
  </main>
</body>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro">
{% capture css %}
  {% include style.css %}
{% endcapture %}
<style>
{{ css | scssify }}
</style>
</html>
