---
layout: compress
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="The personal site of Mathias Jean Johansen.">
  <meta name="author" content="Mathias Jean Johansen">
  <meta name="google-site-verification" content="sbytxPt0iC3yCOK5Qf_ZmhvHtIupXoIvseRfgvqjC7Q" />
  <link rel="canonical" href="{{ page.url }}">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="preload" href="/css/style.css" as="style">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  {% if page.layout == "about" %}
  <link rel="preload" href="/images/me-loop.gif" as="image">
  <link rel="preload" href="/images/me-border-loop.gif" as="image">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
</head>
<body>
  <main>
    <header>
      <h1>{{ site.name }}</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/rss.xml">RSS</a>
      </nav>
    </header>
    <section>
      {{ content }}
    </section>
  </main>
<script data-proofer-ignore> </script>
</body>
</html>
